:root { --bg: #040714; --card: #1a1d29; --blue: #0063e5; --red: #ff3b30; }
body { background: var(--bg); color: white; font-family: sans-serif; margin: 0; overflow: hidden; }
.hidden { display: none !important; }

/* PANTALLA LOGIN */
.login-container { width: 300px; margin: 20vh auto; text-align: center; background: var(--card); padding: 40px; border-radius: 20px; box-shadow: 0 10px 30px rgba(0,0,0,0.5); }
input { width: 100%; padding: 12px; margin: 10px 0; background: #31343e; border: none; color: white; border-radius: 5px; box-sizing: border-box; }
.btn-blue { background: var(--blue); color: white; border: none; padding: 12px; width: 100%; border-radius: 5px; cursor: pointer; font-weight: bold; }

/* PANEL ADMIN */
.admin-nav { display: flex; justify-content: space-between; padding: 15px 25px; background: #000; align-items: center; }
.btn-red { background: var(--red); color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; font-weight: bold; }
.admin-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); gap: 20px; padding: 20px; overflow-y: auto; height: 80vh; }
.admin-card { background: var(--card); padding: 20px; border-radius: 15px; }
.table-scroll { height: 180px; overflow-y: auto; background: #000; margin-top: 10px; border-radius: 8px; }
table { width: 100%; font-size: 12px; color: #aaa; }
td { padding: 8px; border-bottom: 1px solid #222; }

/* REPRODUCTOR */
.player-overlay { position: fixed; inset: 0; background: #000; z-index: 999999; }
.player-header-st { position: absolute; top: 0; width: 100%; padding: 20px; display: flex; justify-content: space-between; background: linear-gradient(to bottom, black, transparent); box-sizing: border-box; }
.video-frame-st { width: 100%; height: 100vh; }
.video-frame-st iframe { width: 100%; height: 100%; border: none; }

/* CATALOGO */
.movie-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; padding: 20px; }
.poster { width: 100%; aspect-ratio: 2/3; background-size: cover; border-radius: 8px; cursor: pointer; border: 2px solid transparent; }
.poster:hover { border-color: white; transform: scale(1.03); transition: 0.3s; }
