<div id="sc-login" class="screen">
    <div class="login-wrapper">
        <div class="login-container">
            <h1 class="logo-title">NEBULA<span>+</span></h1>
            <p class="login-subtitle">Introduce tu PIN de acceso</p>
            <input type="text" id="log-u" placeholder="Usuario" autocomplete="off">
            <input type="password" id="log-p" placeholder="PIN" maxlength="4">
            <button class="btn-blue-vibrant" onclick="entrar()">ENTRAR</button>
        </div>
    </div>
</div>
